#container {
    margin: 30px auto;
    background-color: #ffffff;
    clear:both;
    padding: 30px;
    left: 0;
    right: 0;
    border: 2px solid grey;
    width: 960px;
  


}

* {
    box-sizing: border-box;
 
    padding: 0; margin: 0;
  }
/* Style navigation menu links */


#headerwrapper {
    left: 0;
    right: 0;
    margin: auto;
    width: 960px;
    line-height: 50px;
    text-align: center;

}
#name {
    background-color: #4aaaa5;
    display: block;
    float: left;
    width: 27%;
    color: white;
    padding: 28px;
    font-size: 24px;

    position: absolute;
    height: 100%;

}
/*-- span is inline use after nav , create span id="middleNavSpan">Portfolio</> */

.topnav {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 3px solid;
    border-bottom-color: #dddddd;
}
/* Changes the way links look on nav menu */
.topnav a {
    display: block;
    color: #666;
    text-align: center;
    text-decoration-color: rgb(76, 77, 78);
    padding: 12px 14px;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
}
/* hover color on nav menu */
.topnav a:hover {
    background-color: #eee;
    color: #000000;
}

.topnav a.active {
    background-color: #4aaaa5;
    color: #000;
}
/* Hide active link */
.topnav .icon {
    display: none;
}
/*creating an active class to show what page we are on */
.active {
    background-color: red;
    color: black;
}

h1 {
    color: #4aaaa5;
}

li  
    {
    float: right;
    display: inline;
    }
li a {
    display: block;
}
a {
    display: block;
    
}
ul
    {
        position: relative;
    }

body {
  font-size: 16px;
  line-height: 22px;
  color: #777777;
  width: 100%;
  background-image: url("https://www.walldevil.com/wallpapers/a30/wallpaper-floral-black-background-nature-albums.jpg");
}

header {
  color: #777777;
  background: #fff;
  border-bottom: 5px;
  border-bottom-color: #dddddd;
}
/*
section {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}
*/

/*

/* 
    
aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;333
  background: #fff;
  border: 1px solid #eee;
}
*/
footer {
  padding: 8px;
  background: #ddd;
  width: 960px;
  margin: 30px auto;
  background-color: #fff;
  left: 0;
  right: 0;
  border: 2px solid #dddddd;
  text-align: center;
  font-size: 20px;
}

.copyright {

}
/**
/**
 * Box set coding
 **/

 .box-set {
    display: flex;
    flex-wrap: no-wrap;
    width: 100%;
  }
  
  .box {
    /* General settings for all 4 boxes*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    flex-grow: 0;
    border-radius: 1px;

    background: #fff;
    border: 2px solid black;
  }

  .box-1,.box-2,.box-3,.box-4 {
      color: #000;
      font-family: 'Noto Serif', serif;
      font-size: 16px;
      display: inline;
  }
  
  /* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */
  
  .box-1 {
      text-align: center;
      margin-right: 1%;
  }
  .box-2 {
    text-align: center;
    margin-right: 1%;
  }
  
  .box-3 {
    text-align: center;
    margin-right: 1%;
  }
  
  .box-4 {
    text-align: center;
    margin-right: 1%;
  }
  
  