#container {
    margin: 30px auto;
    background-color: #ffffff;
    clear:both;
    padding: 30px;
    left: 0;
    right: 0;
    border: 2px solid grey;
    width: 960px;
}

* {
    box-sizing: border-box;
    padding: 0; margin: 0;
  }
/* Style navigation menu links */


#headerwrapper {
    left: 0;
    right: 0;
    margin: auto;
    width: 960px;
    line-height: 30px;
    text-align: center;

}
#name {
    background-color: #4aaaa5;
    display: block;
    float: left;
    width: 27%;
    color: white;

    font-size: 24px;

    position: absolute;
    height: 100%;

}
/*-- span is inline use after nav , create span id="middleNavSpan">Portfolio</> */

.topnav {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 3px solid;
    height: 42px;
    border-bottom-color: #dddddd;
}
/* Changes the way links look on nav menu */
.topnav a {
    color: #666;
    text-align: center;
    text-decoration-color: rgb(76, 77, 78);
    padding: 12px 14px;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
}
/* hover color on nav menu */
.topnav a:hover {
    background-color: #eee;
    color: #000000;
}

.topnav a:active {
    background-color: #4aaaa5;
    color: #000;
}
.topnav a:focus {
    background-color: silver;
}
/* Hide active link */
.topnav .icon {
    display: none;
}
/*creating an active class to show what page we are on */
.active {
    background-color: #4aaaa5;
    color: black;
}

h1 {
    color: #4aaaa5;
}

li  
    {
    display: inline;
    }
li a {
    display: inline;
}
a {
    display: block;
    
}
ul
    {
        float: right;
    }

body {
  font-size: 16px;
  line-height: 22px;
  color: #777777;
  width: 100%;
  background-image: url("https://www.walldevil.com/wallpapers/a30/wallpaper-floral-black-background-nature-albums.jpg");
}

header {
  color: #777777;
  background: #fff;
  border-bottom: 5px;
  border-bottom-color: #dddddd;
}
/*
section {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}
*/

/*

/* 
    
aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;333
  background: #fff;
  border: 1px solid #eee;
}
*/
footer {
  padding: 8px;
  background: #ddd;
  width: 960px;
  margin: 30px auto;
  background-color: #fff;
  left: 0;
  right: 0;
  border: 2px solid #dddddd;
  text-align: center;
  font-size: 20px;
}

/**
/**
 * Box set coding
 **/

 .box-set {
    display: flex;
 
    width: 100%;
  }
  
  .box {    
    /* General settings for all 4 boxes*/
    flex-direction: column;
    margin: 0;
    padding: 0; 
    flex-grow: 0;
    border-radius: 0px;
    background: #fff;
    border: 2px solid black;
  }
  .box-1,.box-2,.box-3,.box-4 {
      color: darkslategray;
      font-family: 'Noto Serif', serif;
      font-size: 16px;
  }
  
  /* Box rules: percentages define anchors (i.e. position of each box relative to enclosing box) */
  
  .box-1 {
      text-align: center;
      position: relative;
      margin-right: 1%;
  }
  .box-2 {
    text-align: center;
    position: relative;
    margin-right: 1%;
  }
  .box-3 {
    text-align: center;
    position: relative;
    margin-right: 1%;
  }
  .box-4 {
    text-align: center;
    position: relative;
    margin-right: 1%;
  }
  button {
    width: 100%;
    position: relative;
    background-color: lightslategray;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(61, 90, 124);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button:hover {
      background-color: green;
  }
  /* Container holding the image and the text */


/* Bottom right text */
/*
.text-block {
    position: absolute;
    background-color: lightslategray;
    color: white;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.text-block2 {
    position: relative;
    background-color: lightslategray;
    color: white;
    width: 100%;

}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactcontainer {
    background-color: #eee;
    padding: 2px;
    border: 1px solid black;
}
/* Gives inputs style, hepls select elements and textbox */
input[type=text], textarea {
        box-sizing: border-box; /*Holds padding and width in fixed are */
        width: 100%;
        padding: 5px;
        border: 3px solid #000000;
        margin: 3px 3px 6px 6px;
    }
    /* styles submit button with background color */
input[type=submit] {
    background-color: #777777;
    color: black;
    padding: 12px;
    border: 1px dashed #ddd;
    cursor: pointer;
}

form {
    background-color: #eee;
    padding: 15px;
    border: 5px solid black;
    width: 100%;
    height: 400px;
}
